<html>
<head>
    <title><?php echo ucfirst($this->page['site_name']). " - ". $this->page['title'] ?></title>
    <meta name=description content="<?php echo $this->page['description'] ?>"/>
    <meta name=keywords content="<?php echo $this->page['keywords'] ?>"/>
    <link rel="stylesheet" href="<?php echo BASE_URL."/assets/css/page.css" ?>"/>

</head>
<body>
<div class="wrapper">
    <nav>
        <?php foreach($this->menu as $item){?>
            <a href="<?php echo $item['friendly_url'] ?>"><?php echo $item['title'] ?></a>
        <?php } ?>
    </nav>
    <article>
        <h1><?php echo $this->page['title'] ?></h1>
        <p>
            <?php echo $this->page['content']; ?>
        </p>
    </article>

</div>


</body>
</html>

